{% extends 'base.html.twig' %}

{% block title %}Information sur vous {% endblock %}

{% block body %}

    {{ form_start(firstForm) }}
    <h1>Pseudo</h1>
    {{ form_row(firstForm.pseudo) }}
    <h1>Information sur le physique</h1>
    {{ form_row(firstForm.birthday) }}
    {{ form_row(firstForm.sexe) }}
    {{ form_row(firstForm.taille) }}
    {{ form_row(firstForm.haircolor) }}
    {{ form_row(firstForm.eyescolor) }}
    {{ form_row(firstForm.poids) }}

        <button type="submit" class="btn btn-lg btn-primary ">Next</button>
    {{ form_end(firstForm) }}
{% endblock %}
