{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <a href="{{ path('user_index') }}">Retour </a>

    <h1>Modifier mon compte</h1>

    {{ include('user/_delete_form.html.twig') }}
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
